<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.dszerszen.randommovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Dagger.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rm_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rm_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.StartActivity.StartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MovieDetailsActivity.MovieDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.FavListActivity.FavListActivity"
            android:label="@string/fav_label"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>